<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">
      
	<head>
		<title>간식줘집사</title>
	</head>
	<section layout:fragment="contents" class="contents">
		<article class="group-article background-cards-list">
			<div class="groups-dropdown-select">
				<div class="group-dropdown-select">
					<label for="field-agePetProper" class="label-for-select m-0">
						연령별 분류
					</label>
				  	<select id="field-agePetProper" name="agePetProper" class="btn-select-dropdown-specific custom-select">
					    <option data-field="agePetProper">
					    	---선택---
				    	</option>
					    <option data-field="agePetProper">
					    	전체
				    	</option>
					    <option class="under6months" data-field="agePetProper" data-value="under6months">
					    	6개월 미만
				    	</option>
					    <option class="adult" data-field="agePetProper" data-value="adult">
					    	성견
				    	</option>
					    <option class="senior" data-field="agePetProper" data-value="senior">
					    	고령견
				    	</option>
			  		</select>
				</div>
				<div class="group-dropdown-select">
					<label for="field-category" class="label-for-select m-0">
						카테고리
					</label>
				  	<select id="field-category" name="category" class="btn-select-dropdown-specific custom-select">
					    <option data-field="category">
					    	---선택---
				    	</option>
					    <option data-field="category">
					    	전체
				    	</option>
					    <option class="treat" data-field="category" data-value="treat">
					    	간식
				    	</option>
					    <option class="kibble" data-field="category" data-value="kibble">
					    	사료
				    	</option>
			  		</select>
				</div>
			</div>
			<div class="group-btns-paging">
				<button data-direction="prev" id="btn-prev-page" class="arrow-paging">
					<svg width="49" height="56" viewBox="0 0 49 56" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_d_373_4)">
							<path d="M0 26L45 51.9808V0.0192375L0 26Z" fill="#FF6868"/>
						</g>
						<defs>
							<filter id="filter0_d_373_4" x="0" y="0.0192871" width="49" height="55.9614" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
								<feFlood flood-opacity="0" result="BackgroundImageFix"/>
								<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
								<feOffset dx="4" dy="4"/>
								<feComposite in2="hardAlpha" operator="out"/>
								<feColorMatrix type="matrix" values="0 0 0 0 0.45098 0 0 0 0 0.317647 0 0 0 0 0.929412 0 0 0 1 0"/>
								<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_373_4"/>
								<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_373_4" result="shape"/>
							</filter>
						</defs>
					</svg>
				</button>			
				<button data-direction="next" id="btn-next-page" class="arrow-paging">
					<svg width="49" height="56" viewBox="0 0 49 56" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_d_373_2)">
							<path d="M45 26L0 51.9808V0.0192375L45 26Z" fill="#FF6868"/>
						</g>
						<defs>
						<filter id="filter0_d_373_2" x="0" y="0.0192871" width="49" height="55.9614" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix"/>
							<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
							<feOffset dx="4" dy="4"/>
							<feComposite in2="hardAlpha" operator="out"/>
							<feColorMatrix type="matrix" values="0 0 0 0 0.45098 0 0 0 0 0.317647 0 0 0 0 0.929412 0 0 0 1 0"/>
							<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_373_2"/>
							<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_373_2" result="shape"/>
						</filter>
						</defs>
					</svg>
				</button>
							
			</div>
			<div class="groups-cards-collapsed">
				<div class="groups-product-list">
					<th:block th:each="unit : ${listProducts}">
<!-- 하나의 Card Unit이 320px X 320px; -->
						<div class="unit-card-product">
							<a th:href="@{/product/product-detail-view/{productId}(productId=${unit.id})}">
								<img class="img-unit-list-view" th:src="${unit.imgProfile}" width="270" height="270">
							</a>
							<div class="group-link-from-unit">
								<a class="name-unit-list-view anchor-unit-list-view" th:data-field="name" th:data-value="${unit.name}" th:href="@{/product/product-detail-view/{productId}(productId=${unit.id})}">
									<span th:text="${unit.name}"></span>
								</a>
								<a class="category-unit-list-view anchor-unit-list-view" th:data-field="category" th:data-value="${unit.category}" th:href="@{/product/product-detail-view/{productId}(productId=${unit.id})}">
									<span th:text="${unit.categoryTranslatedK}"></span>
								</a>
								<a class="agePetProper-unit-list-view anchor-unit-list-view" th:data-field="agePetProper" th:data-value="${unit.agePetProper}" th:href="@{/product/product-detail-view/{productId}(productId=${unit.id})}">
									<span th:text="${unit.agePetProperTranslatedK}"></span>
								</a>
							</div>
						</div>
					</th:block>
			</div>
			</div>
		</article>
</section>

	<th:block layout:fragment="script">
    	<script th:inline="javascript">
    		$(document).ready(function(e){
    			indexingPagingButtons();
    			
    			/* 처음 페이지 로딩 될 때, 해당 옵션 필터들 띄우기; option:selected 노출시키기 */
    			let link = window.location.href;
				let url = new URL(link.toString());
				let urlParams = url.searchParams;
				
				//나중에 여러 Field(Select메뉴)들이 있는 경우, 반복문으로 돌려야!
				let keys = urlParams.keys();
				for(let key of keys){
					if(key == 'direction' || key == 'index') {
						continue;
					}
					let value = urlParams.get(key);
					console.log(`key: ${key}, value: ${value}`);
					let selectCur = $('#field-' + key);
					let optionSelected = $('option.' + value)[0];
					selectCur.find(optionSelected).prop('selected', true);
				}
				
				function indexingPagingButtons(){
					/* 페이지 버튼; btn-prev-page btn-next-page data로 최소 최대 id값 넣기*/
					let listProducts = /*[[${listProducts}]]*/null;
					console.log(listProducts);
					
					if(!listProducts){
						return;
					}
					let indexMax = listProducts[0].id;
					let indexMin = listProducts[0].id;
					
					for(let i=1; i< listProducts.length; i ++){
						let idCurrent = listProducts[i].id;
						console.log(idCurrent);
						if(listProducts[i].id < indexMin){
							indexMin = idCurrent
						}
						if(listProducts[i].id > indexMax){
							indexMax = idCurrent
						}
					}
					console.log(`${indexMin}, ${indexMax}`);
					
					document.getElementById("btn-prev-page").setAttribute('data-index', indexMax);
					document.getElementById("btn-next-page").setAttribute('data-index', indexMin);
				}
				
    			
    			$(".btn-select-dropdown-specific").on('change', function(e){
    				let link = window.location.href;
    				let url = new URL(link.toString());
    				let urlParams = url.searchParams;

    				let field = $(this).children("option:selected").data('field'); 
    				let value = $(this).children("option:selected").data('value');
    				console.log(`${field}, ${value}`);
    				
					//전체 버튼을 눌렀을 경우 아예 해당 field를 지우고 현재 창 새로고침 하도록 바꿨다.
					if(!value || value == "전체" || value == "---선택---"){
						urlParams.delete(field);
						location.href= url;
						return;
					}
	  				//기존 field가 이미 존재할 때는 Set로
	  				// 존재하지 않으면 append로 값 넣기
	  				if(urlParams.has(field)){
	  					urlParams.set(field, value);
	  				} else {
	  					urlParams.append(field, value);
	  				}
    				location.href= url;
    			})
    			
    			$(".arrow-paging").on('click', function(e){
    				let link = window.location.href;
    				let url = new URL(link.toString());
    				let urlParams = url.searchParams;
    				
    				let direction = $(this)[0].getAttribute('data-direction');
    				let index = $(this)[0].getAttribute('data-index');
    				
  					urlParams.set('direction', direction);
  					urlParams.set('index', index);
    				
    				console.log(`${direction}, ${index}`);
    				console.log(url);

    				location.href = url;
    				
    			})// arrow-paing on click
    			
    		})//document ready
    	
    	</script>
	</th:block>
	
</html>