<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminDefaultLayout4DatePicker}">
    <head>
    	<title>
    		사용자 상세 정보 조회 페이지
    	</title>
    </head>
	<section layout:fragment="contents" class="contents mt-5">
			<article class="group-article ">
	 			<!-- Fields for Searching __Start__ -->
	 			<div class="bg-info rounded d-flex justify-content-between py-3 px-3">
					<span class="h3 text-white col-3">
						검색 항목
					</span>
					<div class="d-flex justify-content-end col-4">
						<button class="btn-search btn-danger btn-cancel-register w-100 mr-2">
							SEARCH
						</button>
					</div>	
				</div>
				<!-- 검색 항목별 카테고리들 -->
				<div class="groups-category-for-search" >
					<!-- Dropdown: userid -->
					<div id="field-userid" class="d-none bg-secondary rounded d-flex justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							사용자 PK
						</span>
						<input id="userId" type="text" class="input-to-choose form-control col-8">
					</div>
					<!-- loginId -->
					<div id="field-loginId" class="d-none bg-secondary rounded d-flex justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							로그인ID
						</span>
						<input id="loginId" type="text" class="input-to-choose form-control col-8">
					</div>
					<!-- nickname -->
					<div id="field-nickname" class="d-none bg-secondary rounded d-flex justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							닉네임
						</span>
						<input id="nickname" type="text" class="input-to-choose form-control col-8">
					</div>
					<!-- selfDesc -->
					<div id="field-selfDesc" class="d-none bg-secondary rounded d-flex justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							자기조개
						</span>
						<input id="selfDesc" type="text" class="input-to-choose form-control col-8">
					</div>
					<!-- createdAt: createdAtSince, createdAtUntil -->
					<div id="field-createdAt" class="d-none bg-secondary rounded d-flex justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							가입 시간
						</span>
						<input id="createdAtSince" type="text" class="input-time-between form-control col-4" placeholder="created From">
						<input id="createdAtUntil" type="text" class="input-time-between form-control col-4" placeholder="created Until">
					</div>	
					<!-- updatedAt: updatedAtSince, updatedAtUntil -->
					<div id="field-updatedAt" class="d-none bg-secondary rounded d-flex justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							수정 시간
						</span>
						<input id="updatedAtSince" type="text" class="input-time-between form-control col-4" placeholder="updated From">
						<input id="updatedAtUntil" type="text" class="input-time-between form-control col-4" placeholder="updated Until">
					</div>	
				</div>
				<!-- __end__ Dropdown: Choosing Field for Searching -->
				<!-- 상품 조회 상세 내역 출력_시작 -->
				<div class="mt-5">
					<div class="group-btns-paging">
<!-- 전 페이지 화살표; btn-pref-page-->			
						<button data-direction="prev" id="btn-prev-page" class="arrow-paging">
							<svg width="49" height="56" viewBox="0 0 49 56" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g filter="url(#filter0_d_373_4)">
									<path d="M0 26L45 51.9808V0.0192375L0 26Z" fill="#FF6868"/>
								</g>
								<defs>
									<filter id="filter0_d_373_4" x="0" y="0.0192871" width="49" height="55.9614" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
										<feFlood flood-opacity="0" result="BackgroundImageFix"/>
										<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
										<feOffset dx="4" dy="4"/>
										<feComposite in2="hardAlpha" operator="out"/>
										<feColorMatrix type="matrix" values="0 0 0 0 0.45098 0 0 0 0 0.317647 0 0 0 0 0.929412 0 0 0 1 0"/>
										<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_373_4"/>
										<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_373_4" result="shape"/>
									</filter>
								</defs>
							</svg>
						</button>
						<div class="list-indices-page d-flex justify-content-center align-items-center">
							<a class="anchor-index-page"></a>
							<a class="anchor-index-page"></a>
							<a class="anchor-index-page"></a>
							<a class="anchor-index-page"></a>
							<a class="anchor-index-page"></a>
						</div>
<!-- 다음 페이지 화살표; btn-next-page -->					
						<button data-direction="next" id="btn-next-page" class="arrow-paging">
							<svg width="49" height="56" viewBox="0 0 49 56" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g filter="url(#filter0_d_373_2)">
									<path d="M45 26L0 51.9808V0.0192375L45 26Z" fill="#FF6868"/>
								</g>
								<defs>
								<filter id="filter0_d_373_2" x="0" y="0.0192871" width="49" height="55.9614" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
									<feOffset dx="4" dy="4"/>
									<feComposite in2="hardAlpha" operator="out"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0.45098 0 0 0 0 0.317647 0 0 0 0 0.929412 0 0 0 1 0"/>
									<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_373_2"/>
									<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_373_2" result="shape"/>
								</filter>
								</defs>
							</svg>
						</button>
					</div>				
					<table class="table">
						<thead>
							<tr>
								<th>사용자 PK</th>
								<th>로그인ID</th>
								<th>닉네임</th>
								<th>프로필이미지</th>
								<th>자기 소개</th>
								<th>가입 시간</th>
								<th>수정 시간</th>
								<th>등록된 반려견</th>
							</tr>
						<thead>
						<tbody id="tableBody">
							<th:block th:each="user : ${listUsers}">							
								<tr>
									<th th:text="${user.userId}"></th>
									<th th:text="${user.loginId}"></th>
									<td th:text="${user.nickname}"></td>
									<td>
										<img th:if="${user.imgThumbnail}" th:src="${user.imgThumbnail}" width="50" height="50">
									</td>
									<td th:text="${user.selfDesc}"></td>
									<td th:text="${user.createdAt}"></td>
									<td th:text="${user.updatedAt}"></td>
									<td class="d-flex justify-content-around">
										<th:block th:each=" pet: ${user.listPets}">
											<div class="d-flex flex-column justify-content-center align-items-center">
												<button class="btn-pet-detail btn btn-warning" th:data-user-id="${user.userId}" th:data-pet-id="${pet.id}" th:text="${pet.name}">
												</button>
												<img th:src="${pet.imgThumbnail}" width="50" height="50">
											</div>
										</th:block>
									</td>
								</tr>
							</th:block>							
						</tbody>
					</table>
				</div>
				
			</article>
	</section>

	<th:block layout:fragment="script">
    	<script th:inline="javascript">
    		$(document).ready(function(){
    			
    			let errorMessage = /*[[${error_message}]]*/null;
    			if(errorMessage){
    				alert(errorMessage);
    			}
    			
    			updatePagingIndices();
				
    			/* jQuery UI datepicker__Start__*/
    			$.datepicker.setDefaults({
    				dateFormat : "yy-mm-dd"
    				, monthNames: [ "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월" ]
                    , dayNamesMin: [ "일", "월", "화", "수", "목", "금", "토" ]
   					, showButtonPanel:true
    			})// $.datepicker.setDefaults
    			
    			$.datepicker._gotoToday = function(id){
    				$(id).datepicker('setDate', new Date()).datepicker('hide').blur();
    			}

				$("#createdAtSince").datepicker({
					maxDate: 0
					, onSelect:function(dateText){
						$("#createdAtUntil").datepicker('option', 'minDate', dateText);
					}
				}) // #field-timeSince datepicker
				
				$("#createdAtUntil").datepicker({
					maxDate: 0
					, onSelect:function(dateText){
						$("#createdAtSince").datepicker('option', 'maxDate', dateText);
					}
				}) //#field-timeUntil datepicker
				
				$("#updatedAtSince").datepicker({
					maxDate: 0
					, onSelect:function(dateText){
						$("#updatedAtUntil").datepicker('option', 'minDate', dateText);
					}
				}) // #field-timeSince datepicker
				
				$("#updatedAtUntil").datepicker({
					maxDate: 0
					, onSelect:function(dateText){
						$("#updatedAtSince").datepicker('option', 'maxDate', dateText);
					}
				}) //#field-timeUntil datepicker
				/* __end__jQuery UI datepicker*/
    			
				
				function updateFilteringsCurrentPage(){
    				/* 처음 페이지 로딩 될 때, 해당 옵션 필터들 띄우기; option:selected 노출시키기 */
        			let link = window.location.href;
    				let url = new URL(link.toString());
    				let urlParams = url.searchParams;
    				
    				//나중에 여러 Field(Select메뉴)들이 있는 경우, 반복문으로 돌려야!
    				let keys = urlParams.keys();
    				for(let key of keys){
    					if(key == 'direction'
    						|| key == 'idRequested'
    						|| key == 'pageCurrent'
    						|| key == 'pageRequested') {
    						continue;
    					}
    					let value = urlParams.get(key);
    					//console.log(`key: ${key}, value: ${value}`);
    					let selectCur = $(`#field-${key}`);
    					let optionToFind = $(`[data-value=${value}]`);
    					selectCur.find(optionToFind).prop('selected', true);
    				}
    			}// updateFileringCurrentPage()
				
    			/* JPA Pageable 라이브러리에 맞게 변형*/
				function updatePagingIndices(){
					let link = window.location.href;
    				let url = new URL(link.toString());
    				let urlParams = url.searchParams;
    				
					let numberPageCurrent = /*[[${pageCurrent}]]*/null;
	    			let numberPageMax = /*[[${totalPages}]]*/null;
					let limit = /*[[${sizeCurrent}]]*/null;
					
					/*
					console.log(`numberPageCurrent =${numberPageCurrent}
							\n, numberPageMax = ${numberPageMax}
							\n, limit = ${limit}`);
					*/
					let anchors = $(".list-indices-page")[0];
					
					let indexStart = parseInt(numberPageCurrent/5)*5;
					indexStart = indexStart > 0 ? indexStart: 0;
					let indexLast = (parseInt(numberPageCurrent/5) + 1)* 5;
					indexLast = indexLast < numberPageMax ? indexLast : numberPageMax;
					
					for(let i = indexStart; i < indexLast; i ++){
						let anchor = document.createElement('a');
						
						urlParams.set('page', i);
						urlParams.set('size', limit);
						
						anchor.setAttribute('href', url.toString());
						
						anchor.classList.add('mx-2');
						anchor.classList.add('anchor-index-page');
						if(i == numberPageCurrent){
							anchor.classList.add('font-weight-bold');
						}
						anchor.append(i + 1);
						anchors.append(anchor);
					}
				}// updatePagingIndices()
    			
				$(".input-to-choose").on('change keyup', function(e){

					let valueCurrent = $(this).val().trim();
					let fieldCurrent = $(this).attr('id');
					console.log(valueCurrent, fieldCurrent);

					$(".btn-search").data('value-current', valueCurrent);
					$(".btn-search").data('field-current', fieldCurrent);

				})// input-to-choose on change

     			$(".btn-search").on('click', function(){
     				/* 기존 검색값 초기화 */
     				$("#tableBody").empty();
     				
    				let field = $(this).data('field-current');
    				let value = $(this).data('value-current');
    				
    				let createdAtSince = $("#createdAtSince").val().trim();
					let createdAtUntil = $("#createdAtUntil").val().trim();
					let updatedAtSince = $("#updatedAtSince").val().trim();
					let updatedAtUntil = $("#updatedAtUntil").val().trim();
    				
					if(value == '--------'){
						value = '';
					}
					if(field == '--------'){
						field = '';
					}
					console.log(`field: ${field}, value: ${value}`);

					let base_url = window.location.origin;
					let link = `${base_url}/admin/user/user-detail-view`;
					let url = new URL(link.toString());
    				let urlParams = url.searchParams;
					
    				if(field && value){
    					urlParams.set(field, value);
    				}
    				
    				if(createdAtSince) urlParams.set('createdAtSince', createdAtSince.concat("T00:00:00"));
    				if(createdAtUntil) urlParams.set('createdAtUntil', createdAtUntil.concat("T23:59:59"));
    				if(updatedAtSince) urlParams.set('updatedAtSince', updatedAtSince.concat("T00:00:00"));
    				if(updatedAtUntil) urlParams.set('updatedAtUntil', updatedAtUntil.concat("T23:59:59"));
					
    				if(urlParams.size < 1){
    					alert("검색할 값을 입력해 주세요.");
    					return;
    				}
    				
					location.href= url;
    			}) // btn-search on click
    			
    			/* JPA Pageable 라이브러리에 맞게 변형*/
    			$(".arrow-paging").on('click', function(e){
    				let link = window.location.href;
    				let url = new URL(link.toString());
    				let urlParams = url.searchParams;
    				
    				let direction = $(this).data('direction');
    				//console.log(`direction: ${direction}`);
    				
    				let totalPages = /*[[${totalPages}]]*/null;
    				let pageCurrent = /*[[${pageCurrent}]]*/null;
    				let pageNext;
    				if(pageCurrent != null){
    					pageNext = (direction == 'next') ? pageCurrent + 1 : pageCurrent - 1;
    					
    					pageNext = pageNext < totalPages -1 ? pageNext : totalPages -1;
    					pageNext = pageNext > 0 ? pageNext : 0;
    					//console.log(pageNext);
    				}
    				let sizeCurrent = /*[[${sizeCurrent}]]*/null;
    				/*
    				console.log(`totalPages : ${totalPages}`);
    				console.log(`pageCurrent : ${pageCurrent}`);
    				console.log(`pageNext : ${pageNext}`);
    				console.log(`sizeCurrent : ${sizeCurrent}`);
    				*/
  					urlParams.set('page', pageNext);
  					urlParams.set('size', sizeCurrent);
    				
    				console.log(url.toString());
    				location.href = url;
    			})// arrow-paing on click
    			
     			$(".btn-pet-detail").on('click', function(){
					let userId = $(this).data('user-id');
     				let petId = $(this).data('pet-id');
					console.log(`userId : ${userId}, petId : ${petId}`);
     				
     				location.href= "/admin/user/user-pet-detail-view?userId=" + userId + "&petId=" + petId;
     			}) // btn invoice detail on click    			
    			
    		})//document ready
    	
    	</script>
	</th:block>
	
</html>