<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<th:block th:replace="~{fragments/adminConfig4DatePicker :: configFragment}">
		</th:block>
	</head>
<body>
	<div id="wrap" class="mx-auto">
		<!-- header -->
		<header layout:fragment="header">
			<th:block th:replace="~{fragments/adminHeader :: headerFragment}">
			</th:block>
		</header>
		
		<!-- content -->
		<section layout:fragment="contents">
		</section>
		
		<!-- script -->
		<div layout:fragment="script">
		</div>
		
		<!-- footer -->
		<footer th:replace="~{fragments/footer :: footerFragment}">	
		</footer>
	</div>
</body>
</html>