<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">
      
	<head>
		<title>간식줘집사 커뮤니티</title>
	</head>
	<section layout:fragment="contents" class="contents w-100">
		<div class="d-flex justify-content-between w-100">
			<article class="group-article community-cards-list">										
				<div class="bar-search-keyword-community">
					<input id="input-search-keyword-community" class="input-search-community" placeholder=" 🔎 Search">
					<button class="btn-seartch-community">
						검색
					</button>
				</div>
				<div class="groups-btns-community">
					<button class="btn-filter-field-community" data-field="agePetProper" data-value="under6months">
						생후 6개월
					</button>
					<button class="btn-filter-field-community" data-field="agePetProper" data-value="adult">
						성견
					</button>
					<button class="btn-filter-field-community" data-field="agePetProper" data-value="senior">
						고령견
					</button>
					<button class="btn-write-new-post" type="button" data-toggle="modal" data-target="#modal-write-new-post">
						<span>글쓰기</span>
						<div class="icon-pencil">
							<svg width="28" height="33" viewBox="0 0 28 33" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.64819 28.7474L2.97117 31.2777L5.55141 30.3946L2.64819 28.7474Z" fill="white"/>
								<path d="M1.60748 20.5944C1.60748 20.5944 12.2911 3.18904 13.8426 2.09263C18.5191 -1.21203 26.0965 3.67084 26.1006 9.04724C26.1014 9.97501 13.8655 27.549 13.8655 27.549M1.60748 20.5944L13.8655 27.549M1.60748 20.5944L2.64819 28.7474M13.8655 27.549L5.55141 30.3946M2.64819 28.7474L2.97117 31.2777L5.55141 30.3946M2.64819 28.7474L5.55141 30.3946" stroke="white" stroke-width="2"/>
							</svg>
						</div>
					</button>
<!-- 새 글 쓰기 modal; #modal-write-new-post-->					
					<div class="modal fade" id="modal-write-new-post" tabindex="-1" role="dialog" aria-labelledby="write-new-post" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="write-new-post">
										새 글 쓰기
									</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">
											&times;
										</span>
									</button>
								</div>
								<div class="modal-body">
									<div th:text="|작성자: ${session.userName}|">
										
									</div>
									<div class="input-group modal-input-rounded">
										<select class="custom-select modal-input-select-inside pl-5 w-100 h-100" id="agePetProper" aria-label="Example select with button addon">
										    <option selected>---선택---</option>
										    <option value="under6months">생후 6개월 미만</option>
										    <option value="adult">성견</option>
										    <option value="senior">고령견</option>
										</select>
									</div>	
									<div class="form-group">
										<label for="title-modal" class="col-form-label">
											제목:
										</label>
										<input id="title-modal" type="text" class="form-control">
									</div>
									<div class="form-group">
										<label for="content-modal" class="col-form-label">
											내용:
										</label>
										<textarea id="content-modal" class="form-control"></textarea>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
									<button id="btn-submit-new-post" type="button" class="btn btn-primary">작성하기</button>
								</div>
							</div>
						</div>
					</div>					
				</div>
				<div class="list-articles-latest">
					<th:block th:each="post:${listPosts}">
						<div class="card-post-rect-white-rounded">
						 	<a class="pl-5" th:href="@{/community/post/{postId}(postId=${post.postId})}"
						 	 th:text="|작성자: ${post.nickname}, 제목: ${post.title}, 내용: ${#strings.abbreviate(post.content,25)}|"></a>
						</div>
					</th:block>
				</div>
			</article>
		</div>
	</section>

	<th:block layout:fragment="script">
    	<script>
    		$(document).ready(function(e){
    			$("#groups-nav-header").css("background-color", "#ED5178");
    			$(".groups-nav-aside").css("background-color", "#FFE397");

    			$(".btn-filter-field-community").on('click', function(){
    				let field = $(this).data('field');
    				let value = $(this).data('value');
    				
    				console.log(`${field}, ${value}`);
    				let url = "/community/community-main-view?".concat(field).concat('=').concat(value);
    				
    				console.log(url);
    				location.href= url;
    				
    			})// btn-filter-field-community on click
    			
    			/* 글쓰기 버튼; btn-write-new-post*/
    			$("#btn-submit-new-post").on('click', function(){
    				let title = $("#title-modal").val().trim();
    				let content = $("#content-modal").val().trim();
    				let agePetProper = $("#agePetProper").children("option:selected").val();
    				
    				if(!title){
    					alert("제목을 입력해주세요.")
    					return;
    				}
    				
    				if(!content){
    					alert("내용을 입력해주세요.")
    					return;
    				}
    				if(title.length > 30 || content.length > 500){
    					alert("제목의 길이는 30자 이내, 내용은 500자 이내로 작성 가능합니다.")
    					return;
    				}
    				
    				if(agePetProper == '---선택---'){
    					agePetProper = null;
    				}
    				
    				console.log(`${title}, ${content}, ${agePetProper}`)
    				
    				let url = "/community/write-new-post";
    				let params= { "title": title
    							, "content": content
    							, "agePetProper": agePetProper}
    				
    				if(confirm("현재 글을 게시하겠습니까?") == false){
    					console.log("current post get rejected.");
    					return;
    				}
    				
    				$.post(url, params)
    				.done(function(data){
    					if(data.code == 200){
    						alert(data.result);
    						location.reload();
    					} else if(data.code == 403){
    						location.href = "user/sign-in-view";
    					} else {
    						alert(data.error_message);
    					}
    					
    				})//ajax
    				
    			})
    			
    		})//document ready
    	
    	</script>
	</th:block>
	
</html>