<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">
      
	<head>
		<title>간식줘집사 커뮤니티</title>
	</head>
	<section layout:fragment="contents" class="contents w-100">
		<div class="d-flex justify-content-between w-100">
			<article class="group-article community-cards-list">							

			</article>
		</div>
	</section>

	<th:block layout:fragment="script">
    	<script>
    		$(document).ready(function(e){

    		})//document ready
    	
    	</script>
	</th:block>
	
</html>