<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.givemetreat.pet.mapper.PetMapper">
 	<select id="selectPetByUserIdAndName" resultType="com.givemetreat.pet.domain.Pet">
 		SELECT
 			`id`
			, `userId`
			, `name`
			, `age`
			, `imgProfile`
			, `imgThumbnail`
			, `createdAt`
			, `updatedAt`
		FROM
			`pet`
		WHERE
			`userId` = #{userId}
		AND
			`name` = #{name}	
 		
 	</select>
 	<select id="selectPetsByUserId" resultType="com.givemetreat.pet.domain.Pet">
 		SELECT
 			`id`
			, `userId`
			, `name`
			, `age`
			, `imgProfile`
			, `imgThumbnail`
			, `createdAt`
			, `updatedAt`
		FROM
			`pet`
		WHERE
			`userId` = #{userId} 		
 	</select>
 	<select id="selectPetByIdAndUserId" resultType="com.givemetreat.pet.domain.Pet">
 		SELECT
 			`id`
			, `userId`
			, `name`
			, `age`
			, `imgProfile`
			, `imgThumbnail`
			, `createdAt`
			, `updatedAt`
		FROM
			`pet`
		WHERE
			`id` = #{id}
		AND
			`userId` = #{userId} 		
 	</select>
 	 	
 	<select id="countPetsByUserId" resultType="int">
 		SELECT
 			COUNT(1)
		FROM
			`pet`
		WHERE
			`userId` = #{userId}
 	</select>
 	<insert id="insertPet" parameterType="map">
		INSERT INTO `pet`
		(
			`userId`
			, `name`
			, `age`
			, `imgProfile`
			, `imgThumbnail`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{name}
			, #{age.agePetE}
			, #{imagePathProfile}
			, #{imagePathThumbnail}
			, NOW()
			, NOW()
		)
 	</insert>
 	<update id="updatePet" parameterType="map" >
 		UPDATE `pet`
 		SET
 			`name` = #{name}
 			,`age` = #{age.agePetE}
 			,`imgProfile` = #{imagePathProfile}
 			,`imgThumbnail` = #{imagePathThumbnail}
 			, `updatedAt` = NOW()
		WHERE
			`id` = #{id}
 	</update>
 	
 	<delete id="deletePetByIdAndUserId" parameterType="map">
 		DELETE FROM `pet`
 		WHERE
 			`id` = #{id}
		AND
			`userId` = #{userId}
 	</delete>
 </mapper>