<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.givemetreat.product.mapper.ProductMapper">
 	<select id="selectProduct" resultType="com.givemetreat.product.domain.Product">
 		SELECT
			`id`
			, `name`
			, `category`
			, `price`
			, `agePetProper`
			, `imgProfile`
			, `imgThumbnail`
			, `createdAt`
			, `updatedAt`
		FROM
			`product`
		<where>
			<if test="id != null">
				AND
					`id` = #{id}
			</if>
			<if test="name != null">
				AND			
					`name` like LOWER(concat('%',#{name},'%'))
			</if>	
			<if test="category != null">
				AND			
					`category` = #{category}
			</if>	
			<if test="price != null">
				AND			
					`price` = #{price}
			</if>	
			<if test="agePetProper != null">
				AND			
					`agePetProper` = #{agePetProper}
			</if>
		</where>
		ORDER BY `id` DESC
		LIMIT 50;
 	</select>
 	
 	<insert id="insertProduct" parameterType="com.givemetreat.product.domain.Product"
 	 useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO
 			`product`
		(
			`name`
			, `category`
			, `price`
			, `agePetProper`
			, `imgProfile`
			, `imgThumbnail`
			, `createdAt`
			, `updatedAt`		
		)
		VALUES
		(
			#{name}
			, #{category}
			, #{price}
			, #{agePetProper}
			, #{imgProfile}
			, #{imgThumbnail}
			, NOW()
			, NOW()
		)
 		
 	</insert>
 	
 	<delete id="deleteProduct">
 		DELETE FROM `product`
 		WHERE
 			`id` = #{id}
 	</delete>
 	
 </mapper>