<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">
	<head>
		<title>반려견 리스트</title>
	</head>
	<section layout:fragment="contents" class="contents">
		<div class="d-flex justify-content-center">
			<article class="group-article">
				<div class="group-article-pet-list">
				</div>
			</article>
		</div>
	</section>

	<th:block layout:fragment="script">
    	<script>
    	
    	</script>
	</th:block>
	
</html>