<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
	<th:block th:fragment="configFragment">
		<!-- DOM Tree- head 영역 -->
	    <meta charset="utf-8">
	    
	    <!-- js와 css 파일 해당 파일에 존재하는지 체크해야 -->
	    <!-- jQuery -->
	    <script  src="/js/jquery-3.7.1.js"></script>    
	    
	    <!-- bootstrap; min js 제거 -->
	    <link rel="stylesheet" href="/css/bootstrap.min.css">
	    <script src="/js/bootstrap.bundle.min.js"></script>
	    
	    <link rel="stylesheet" href="/css/admin_givemetreat_style.css">
	</th:block>	
</html>