<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminDefaultLayout}">
    <head>
    	<title>
    		최근 결제완료 주문 조회
    	</title>
    </head>
	<section layout:fragment="contents" class="contents mt-5">
			<article class="group-article ">
				<!-- 상품 조회 상세 내역 출력_시작 -->
				<div class="mt-5">
					<table class="table-striped table-hover text-center w-100">
						<thead>
							<tr>
								<th>주문<br>고유번호</th>
								<th>결제자<br>로그인아이디</th>
								<th>결제자<br>PK</th>
								<th>총 결제 금액</th>
								<th>결제 완료<br>시간</th>
								<th>주문<br>취소 여부</th>
								<th>배송 현황</th>
								<th>배송<br>준비 상태</th>
								<th>택배 상차<br>완료 여부</th>
							</tr>
						<thead>
						<tbody id="tableBody">
							<tr>
								<th>
									<button class="btn-invoice-detail btn btn-danger" th:data-id="${invoice.id}" th:data-user-id="${invoice.userId}" th:text="${invoice.id}">
										주문고유번호
									</button>
								</th>
								<th>
									<button class="btn-user-detail btn btn-success" th:data-id="${invoice.id}" th:data-user-id="${invoice.userId}" th:text="${invoice.loginId}">
										결제자 로그인아이디
									</button>
								</th>
								<th>
									<button class="btn-user-detail btn btn-success" th:data-id="${invoice.id}" th:data-user-id="${invoice.userId}" th:text="${invoice.userId}">
										결제자 PK
									</button>
								</th>
								<td th:text="'￦' +${invoice.payment}"></td>
								<td th:text="${invoice.updatedAt}"></td>
								<td th:text="${invoice.hasCanceled}"></td>
								<td th:text="${invoice.statusDelivery}"></td>
								<td th:text="${invoice.statusDelivery == '배송준비 완료' ? 'O' : 'X'}"></td>
								<td th:text="${invoice.statusDelivery == '터미널 이동' ? 'O' : 'X'}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- 해당 주문 상세 내역; listProducts -->
				<div class="mt-5 mx-4">
					<table class="table-striped table-hover text-center w-100">
						<thead>
							<tr>
								<th>제품 고유번호</th>
								<th>제품명</th>
								<th>주문 수량</th>
								<th>카테고리</th>
								<th>가격</th>
								<th>섭취적정연령</th>
								<th>이미지</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="itemOrdered : ${listProducts}">
<!-- 
	private int countOrdered;
	private int productId;
	private String productName;
	private String category;
	private int price;
	private String agePetProper;
	private String imgProfile;
	private String imgThumbnail;
 -->							
								<tr>
									<th>
										<button class="btn-product-detail btn btn-primary" th:data-product-id="${itemOrdered.productId}" th:text="${itemOrdered.productId}">
										</button>
									</th>
									<th>
										<button class="btn-product-detail btn btn-primary" th:data-product-id="${itemOrdered.productId}" th:text="${itemOrdered.productName}">
										</button>
									</th>
									<th th:text="${itemOrdered.countOrdered}"></th>
									<th th:text="${itemOrdered.category}"></th>
									<th th:text="${itemOrdered.price}"></th>
									<th th:text="${itemOrdered.agePetProper}"></th>
									<th><img th:src="${itemOrdered.imgThumbnail}" width="50"></th>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</article>
	</section>

	<th:block layout:fragment="script">
    	<script th:inline="javascript">
    		$(document).ready(function(){
    			
     			$(".btn-invoice-detail").on('click', function(){
     				let invoiceId = $(this).data('id');
     				let userId = $(this).data('user-id'); //🚫🛑🚫🛑data 받아올 때는 절대 대문자 섞어서 쓰면 안 된다 ㅠㅠ Snake Case로 작성해야!
     				
     				location.href= "/admin/invoice/invoice-latest-detail-view?invoiceId=" + invoiceId
     								+ "&userId=" + userId;
     			})//btn-invoice-detail on click
     			
     			$(".btn-user-detail").on('click', function(){
     				let userId = $(this).data('user-id');
     				
     				//사용자 정보조회 페이지로 이동
     				location.href= "/admin/user/user-detail-view?userId=" + userId;
     			})//btn-user-detail on click
     			
     			$(".btn-product-detail").on('click', function(){
     				let productId = $(this).data('product-id')
     				
     				location.href= "/admin/product/" + productId; //이번에는 와일드카드 문법으로 작성 
     			})// btn-product-detail on click
     			
    		})//document ready
    	
    	</script>
	</th:block>
	
</html>