<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminDefaultLayout}">
    <head>
    	<title>
    		상품 조회 페이지
    	</title>
    </head>
	<section layout:fragment="contents" class="contents mt-5">
			<article class="group-article ">
	<!-- 
		id;
		name;
		category; kibble, treat
		price; 
		agePetProper; under6months, adult, senior
	 -->
	 			<!-- Dropdown: Choosing Field for Searching -->
	 			<div class="bg-info rounded d-flex justify-content-between py-3 px-3">
					<span class="h3 text-white col-3">
						검색 항목
					</span>
					<div class="d-flex justify-content-end col-4">
						<button id="btn-search-products" class="btn-search btn-danger btn-cancel-register w-100 mr-2">
							SEARCH
						</button>
					</div>	
				</div>
				<!-- 숨겨진 검색 항목별 카테고리들 -->
				<div class="groups-category-for-search" >
					<!-- Dropdown: id -->
					<div id="field-id" class="bg-secondary rounded justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							제품 고유번호
						</span>
						<input id="idProduct" type="text" class="form-control col-8">
					</div>
					<!-- Dropdown: name -->
					<div id="field-name" class="bg-secondary rounded justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							제품명
						</span>
						<input id="nameProduct" type="text" class="form-control col-8">
					</div>
					<!-- Dropdown: category -->
					<div id="field-category" class="bg-secondary rounded justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							카테고리
						</span>
						<div class="input-group p-0 col-8">
							<select id="categoryProduct" class="custom-select input-select-inside w-100 h-100" aria-label="Example select with button addon">
							    <option selected>--------</option>
							    <option value="kibble">사료</option>
							    <option value="treat">간식</option>
							</select>
						</div>
					</div>
					<!-- Dropdown: price -->
						<!-- ※※※※※가격 쪽은 최대, 최소 등 범위 설정할 지 고민해야 -->
					<div id="field-price" class="bg-secondary rounded justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							제품 가격
						</span>
						<input id="priceProduct" type="text" class="form-control col-8">
					</div>
					<!-- Dropdown: agePetProper -->
					<div id="field-agePetProper" class="bg-secondary rounded justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							섭취 적정 연령
						</span>
						<div class="input-group p-0 col-8">
							<select class="custom-select input-select-inside w-100 h-100" id="agePetProperProduct" aria-label="Example select with button addon">
							    <option selected>--------</option>
							    <option value="under6months">생후 6개월 미만</option>
							    <option value="adult">성견</option>
							    <option value="senior">고령견</option>
							</select>
						</div>
					</div>	
				</div>
				<!-- 상품 조회 선택항목 끝 -->
				
				<!-- 상품 조회 상세 내역 출력_시작 -->
				<div class="mt-5">
					<div class="group-btns-paging">
<!-- 전 페이지 화살표; btn-pref-page-->			
						<button data-direction="prev" id="btn-prev-page" class="arrow-paging">
							<svg width="49" height="56" viewBox="0 0 49 56" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g filter="url(#filter0_d_373_4)">
									<path d="M0 26L45 51.9808V0.0192375L0 26Z" fill="#FF6868"/>
								</g>
								<defs>
									<filter id="filter0_d_373_4" x="0" y="0.0192871" width="49" height="55.9614" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
										<feFlood flood-opacity="0" result="BackgroundImageFix"/>
										<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
										<feOffset dx="4" dy="4"/>
										<feComposite in2="hardAlpha" operator="out"/>
										<feColorMatrix type="matrix" values="0 0 0 0 0.45098 0 0 0 0 0.317647 0 0 0 0 0.929412 0 0 0 1 0"/>
										<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_373_4"/>
										<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_373_4" result="shape"/>
									</filter>
								</defs>
							</svg>
						</button>
						<div class="list-indices-page d-flex justify-content-center align-items-center">
							<a class="anchor-index-page"></a>
							<a class="anchor-index-page"></a>
							<a class="anchor-index-page"></a>
							<a class="anchor-index-page"></a>
							<a class="anchor-index-page"></a>
						</div>
<!-- 다음 페이지 화살표; btn-next-page -->					
						<button data-direction="next" id="btn-next-page" class="arrow-paging">
							<svg width="49" height="56" viewBox="0 0 49 56" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g filter="url(#filter0_d_373_2)">
									<path d="M45 26L0 51.9808V0.0192375L45 26Z" fill="#FF6868"/>
								</g>
								<defs>
								<filter id="filter0_d_373_2" x="0" y="0.0192871" width="49" height="55.9614" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
									<feOffset dx="4" dy="4"/>
									<feComposite in2="hardAlpha" operator="out"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0.45098 0 0 0 0 0.317647 0 0 0 0 0.929412 0 0 0 1 0"/>
									<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_373_2"/>
									<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_373_2" result="shape"/>
								</filter>
								</defs>
							</svg>
						</button>
					</div>					
					<table class="table">
						<thead>
							<tr>
								<th></th>
								<!-- id -->
								<th>제품 고유번호</th>
								<!-- name -->
								<th>제품명</th>
								<!-- buffer -->
								<th>제품 총 재고</th>
								<!-- buffer -->
								<th>제품 가용 수량</th>
								<!-- category -->
								<th>카테고리</th>
								<!-- price -->
								<th>제품 가격</th>
								<!-- agePetProper -->
								<th>섭취 적정 연령</th>
								<!-- createdAt -->
								<th>입력 시간</th>
								<!-- updatedAt -->
								<th>수정 시간</th>
							</tr>
						<thead>
						<tbody id="tableBody">
						</tbody>
					</table>
				</div>
			</article>
	</section>

	<th:block layout:fragment="script">
    	<script th:inline="javascript">
    		$(document).ready(function(){
				let numberPageCurrent = /*[[${numberPageCurrent}]]*/null;
				let numberPageMax = /*[[${numberPageMax}]]*/null;
				let limit = /*[[${limit}]]*/null;
				let idFirst = /*[[${idFirst}]]*/null;
				let idLast = /*[[${idLast}]]*/null;
				
				function indexingPagingButtons(data){
					/* 페이지 버튼; btn-prev-page btn-next-page data로 최소 최대 id값 넣기*/
					let listProducts = data;
					//console.log(listProducts);
					
					if(!listProducts || listProducts.length < 1){
						return;
					}
					let idMax = listProducts[0].id;
					let idMin = listProducts[0].id;
					
					for(let i=1; i< listProducts.length; i ++){
						let idCurrent = listProducts[i].id;
						//console.log(idCurrent);
						if(listProducts[i].id >= idMax){
							idMax = idCurrent
						}
						if(listProducts[i].id < idMin){
							idMin = idCurrent
						}
					}
					//console.log(`${idMax}, ${idMin}`);
					
					document.getElementById("btn-prev-page").setAttribute('data-id-requested', idMax);
					document.getElementById("btn-next-page").setAttribute('data-id-requested', idMin);
				}// indexingPagingButtons()
				
				function updatePagingIndices(data){
					if(data){
						numberPageCurrent = data.numberPageCurrent;
						numberPageMax = data.numberPageMax;
					}
					let anchors = $(".list-indices-page")[0];
					let indexStart = parseInt(numberPageCurrent/5)*5;
					indexStart = indexStart > 0 ? indexStart: 0;
					let indexLast =  (parseInt(numberPageCurrent/5) + 1)* 5 //5의 배수
					indexLast = indexLast < numberPageMax ? indexLast : numberPageMax + 1;
					for(let i = indexStart; i < indexLast; i ++){
						let anchor = document.createElement('a');
						
						anchor.setAttribute('href', '#');
						anchor.setAttribute('data-page-current', numberPageCurrent);
						anchor.setAttribute('data-page-requested', i);
						anchor.classList.add('mx-2');
						anchor.classList.add('anchor-index-page');
						if(i == numberPageCurrent){
							anchor.classList.add('font-weight-bold');
						}
						anchor.append(i + 1);
						anchors.append(anchor);
					}
				}// updatePagingIndices()
				
     			$("#btn-search-products").off('click').on('click', function(e, data){
     				/* 기존 검색값 초기화 */
    				let id = $("#idProduct").val().trim();
    				let name = $("#nameProduct").val().trim();
					let category = $("#categoryProduct").val();
					let price = $("#priceProduct").val().trim();
					let agePetProper = $("#agePetProperProduct").val();
    				
					if(category == '--------'){
						category = '';
					}
					if(agePetProper == '--------'){
						agePetProper = '';
					}
    				
					//console.log(`${id}, ${name}, ${category}, ${price}, ${agePetProper}`);
					let params = {
									"id": id
									, "name": name
									, "category": category
									, "price": price
									, "agePetProper":agePetProper
								}
					if(data){
						//console.log(data);
						params['direction'] = data.direction;
						params['idRequested'] = data.idRequested;
						params['pageCurrent'] = data.pageCurrent;
						params['pageRequested'] = data.pageRequested;
					}
					let url = "/admin/product/product-list"
					$.ajax({
						type: "Get"
    					, url: url
    					, data: params
    					, success:function(data){
    						if(data.code == 200){
    							numberPageCurrent = data.numberPageCurrent;
    							numberPageMax = data.numberPageMax;
    							limit = data.limit;
    							idFirst = data.idFirst;
    							idLast = data.idLast;
    							
    							$("#tableBody").empty();
    							$(".list-indices-page").empty();
    							for(let i = 0; i< data.listProducts.length; i++){
    								let strUrlCurrent = '<a href="/admin/product/' + data.listProducts[i].id + '">';
    								let tableTd = '<tr>';
    								tableTd += '<td>' + (i + 1) + '</td>';
    								tableTd += '<td>' + strUrlCurrent + data.listProducts[i].id + '</a></td>';
    								tableTd += '<td>' + strUrlCurrent + data.listProducts[i].name + '</td>';
    								tableTd += '<td>' + data.listProducts[i].countTotal + '</td>';
    								tableTd += '<td>' + data.listProducts[i].countAvailable + '</td>';
    								tableTd += '<td>' + data.listProducts[i].price + '</td>';
    								tableTd += '<td>' + data.listProducts[i].category + '</td>';
    								tableTd += '<td>' + data.listProducts[i].agePetProper + '</td>';
    								tableTd += '<td><img src="' + data.listProducts[i].imgThumbnail + '" width="50" height="50"></td>';
    								tableTd += '<td>' + data.listProducts[i].createdAt + '</td>';
    								tableTd += '<td>' + data.listProducts[i].updatedAt + '</td>';
    								tableTd += '</tr>';
    								
    								$('#tableBody').append(tableTd);
    							}
    							
    			    			indexingPagingButtons(data.listProducts);
    			    			updatePagingIndices(data);
    			    			
    			    			//ajax의 경우 anchor태그가 삭제되어 새로 생기는 탓에 success 함수 안에 기재해줘야 했다!
    			    			$("a.anchor-index-page").off('click').on('click', function(e){
    								e.preventDefault();
    								let pageCurrent = $(this).data('page-current');
    								let pageRequested = $(this).data('page-requested');
    								
    								//console.log(`data-page-Current: ${pageCurrent}, data-page-Requested: ${pageRequested}`)
    								let data = {'pageCurrent':pageCurrent
    										, 'pageRequested':pageRequested}
    								
    								$("#btn-search-products").trigger('click', data);
    							});
    			    			
    			    			$("button.arrow-paging").off('click').on('click', function(e){
    			    				let direction = $(this)[0].getAttribute('data-direction');
    			    				let idRequested = $(this)[0].getAttribute('data-id-requested');
    			    				
    			    				let data = {'direction':direction
    										, 'idRequested':idRequested}
    			    				
    			    				console.log(`arrow-paging get clicked: ${direction}, ${idRequested}`);

    			    				$("#btn-search-products").trigger('click', data);
    			    				
    			    			})// arrow-paing on click
    						} else {
    							alert(data.error_message);
    							return;
    						}
    					}
    					, error: function(error){
    						alert("상품 조회에 실패하였습니다. 관리자에게 문의하세요.")
    					}
					})					
    			}) // btn-search on click
    			
    		})//document ready
    	
    	</script>
	</th:block>
	
</html>