<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminDefaultLayout}">
    <head>
    	<title>
    		상품 상세 조회
    	</title>
    </head>
	<section layout:fragment="contents" class="contents mt-5">
			<article class="group-article ">
	<!-- 
		id;
		name;
		category; kibble, treat
		price; 
		agePetProper; under6months, adult, senior
	 -->
	 			<!-- Dropdown: Choosing Field for Searching -->
	 			<div class="bg-info rounded d-flex justify-content-between py-3 px-3">
					<span class="h3 text-white col-3">
						검색 항목
					</span>
					<div class="input-group p-0 col-5">
						<select id="dropDown-for-choosing-field" class="custom-select h-100" aria-label="Example select with button addon">
						    <option selected>--------</option>
						    <option value="field-id">품목 id</option>
						    <option value="field-name">제품명</option>
						    <option value="field-category">카테고리</option>
						    <option value="field-price">가격</option>
						    <option value="field-agePetProper">섭취 적정 연령</option>
						</select>
					</div>
					<div class="d-flex justify-content-end col-4">
						<button class="btn-search btn-danger btn-cancel-register w-100 mr-2">
							SEARCH
						</button>
					</div>	
				</div>
				<!-- 숨겨진 검색 항목별 카테고리들 -->
				<div class="groups-category-for-search" >
					<!-- Dropdown: id -->
					<div id="field-id" class="d-none bg-secondary rounded justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							제품명
						</span>
						<input id="idProduct" type="text" class="form-control col-8">
					</div>
					<!-- Dropdown: name -->
					<div id="field-name" class="d-none bg-secondary rounded justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							제품명
						</span>
						<input id="nameProduct" type="text" class="form-control col-8">
					</div>
					<!-- Dropdown: category -->
					<div id="field-category" class="d-none bg-secondary rounded justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							카테고리
						</span>
						<div class="input-group p-0 col-8">
							<select id="categoryProduct" class="custom-select input-select-inside w-100 h-100" aria-label="Example select with button addon">
							    <option selected>--------</option>
							    <option value="kibble">사료</option>
							    <option value="treat">간식</option>
							</select>
						</div>
					</div>
					<!-- Dropdown: price -->
						<!-- ※※※※※가격 쪽은 최대, 최소 등 범위 설정할 지 고민해야 -->
					<div id="field-price" class="d-none bg-secondary rounded justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							제품 가격
						</span>
						<input id="priceProduct" type="text" class="form-control col-8">
					</div>
					<!-- Dropdown: agePetProper -->
					<div id="field-agePetProper" class="d-none bg-secondary rounded justify-content-between py-3 px-3">
						<span class="h3 text-white col-4">
							섭취 적정 연령
						</span>
						<div class="input-group p-0 col-8">
							<select class="custom-select input-select-inside w-100 h-100" id="agePetProperProduct" aria-label="Example select with button addon">
							    <option selected>--------</option>
							    <option value="under6months">생후 6개월 미만</option>
							    <option value="adult">성견</option>
							    <option value="senior">고령견</option>
							</select>
						</div>
					</div>	
				</div>
				<!-- 상품 조회 선택항목 끝 -->
				
				<!-- 상품 조회 상세 내역 출력_시작 -->
				<div class="mt-5">
					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th>id</th>
								<th>name</th>
								<th>category</th>
								<th>price</th>
								<th>agePetProper</th>
								<th>createdAt</th>
								<th>updatedAt</th>
							</tr>
						<thead>
						<tbody id="tableBody">
						</tbody>
					</table>
				</div>
				
			</article>
	</section>

	<th:block layout:fragment="script">
    	<script th:inline="javascript">
    		$(document).ready(function(){
    			$("#dropDown-for-choosing-field").on('change', function(){
    				/* 검색항목 초기화*/
	    				/* 기존 입력값 초기화 */
    				$("#idProduct").val('');
    				$("#nameProduct").val('');
					$("#categoryProduct").val('');
					$("#priceProduct").val('');
					$("#agePetProperProduct").val('');    				
    				
						/* 보여지던 필드 태그 초기화 */
    				$(".bg-secondary").removeClass("d-flex");
    				$(".bg-secondary").addClass("d-none");
    				$("#tableBody").empty();
    				
    				let fieldChose = $("#dropDown-for-choosing-field").val();
    				console.log(fieldChose);
   				/* jQuery 변수로 ID 얻는 방법; 처음 발견한 방법! */
    				let dropdownChose = $('#' + fieldChose);
    				dropdownChose.removeClass("d-none");
    				dropdownChose.addClass("d-flex");
    			})// #dropDown-for-choosing-field on change
    			
     			$(".btn-search").on('click', function(){
    				let id = $("#idProduct").val().trim();
    				let name = $("#nameProduct").val().trim();
					let category = $("#categoryProduct").val();
					let price = $("#priceProduct").val().trim();
					let agePetProper = $("#agePetProperProduct").val();
    				
					if(category == '--------'){
						category = '';
					}
					if(agePetProper == '--------'){
						agePetProper = '';
					}
    				
					console.log(`${id}, ${name}, ${category}, ${price}, ${agePetProper}`);
					
					// 값 하나만 선택해서 넘겨야 
					// 하지만 아무 값도 안 넘어가면 아예 서버에 요청 안 하도록
					if(!id
						&& !name
						&& !category
						&& !price
						&& !agePetProper){
						alert("검색항목 값을 입력하여 주세요");
						location.reload();
						return;
					}
					
					let params = {
									"id": id
									, "name": name
									, "category": category
									, "price": price
									, "agepetProper":agePetProper
								}
					let url = "/admin/product/product-detail-view"
					
					$.ajax({
						type: "POST"
    					, url: url
    					, data: params
    					, success:function(data){
							console.log(data);
    						if(data.code == 200){
    							for(let i = 0; i< data.listProducts.length; i++){
    								let tableTd = '<tr>';
    								tableTd += '<td>' + i + 1 + '</td>';
    								tableTd += '<td>' + data.listProducts[i].id + '</td>';
    								tableTd += '<td>' + data.listProducts[i].name + '</td>';
    								tableTd += '<td>' + data.listProducts[i].price + '</td>';
    								tableTd += '<td>' + data.listProducts[i].category + '</td>';
    								tableTd += '<td>' + data.listProducts[i].agePetProper + '</td>';
    								tableTd += '<td>' + data.listProducts[i].createdAt + '</td>';
    								tableTd += '<td>' + data.listProducts[i].updatedAt + '</td>';
    								tableTd += '</tr>';
    								
    								$('#tableBody').append(tableTd);
    							}
    						}
    					}
    					, error: function(error){
    						alert("상품 조회에 실패하였습니다. 관리자에게 문의하세요.")
    					}
					})					
    			}) // btn-search on click
    			
    		})//document ready
    	
    	</script>
	</th:block>
	
</html>