<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminDefaultLayout}">
    <head>
    	<title>
    		상품 등록
    	</title>
    </head>
	<section layout:fragment="contents" class="contents mt-5">
			<article class="group-article ">
				<th:block th:object="${productCurrent}">
					<img th:attr="src=${productCurrent.imgProfile}" width="300">
					<hr>
					<p th:text="${productCurrent.id}"></p>
					<hr>
					<p th:text="${productCurrent.name}"></p>
					<hr>
					<p th:text="${productCurrent.category}"></p>
					<hr>
					<p th:text="${productCurrent.price}"></p>
					<hr>
					<p th:text="${productCurrent.createdAt}"></p>
					<hr>
					<p th:text="${productCurrent.updatedAt}"></p>
					<hr>
				</th:block>
			</article>
	</section>

	<th:block layout:fragment="script">
    	<script>
    		$(document).ready(function(){
    			
    		})//document ready
    	
    	</script>
	</th:block>
	
</html>