<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminDefaultLayout}">
    <head>
    	<title>
    		상품 등록
    	</title>
    </head>
	<section layout:fragment="contents" class="contents mt-5">
			<article class="group-article ">
<!-- 상품 이미지 업로드 -->
				<div class="d-flex justify-content-center">
					<div class="col-6 group-btn-product-image-upload">
						<button class="btn-product-image-upload">
							<div class="mt-3">
								<span class="text-image-upload">
									👇👇<br>
									상품 이미지<br>
									등록
								</span>
							</div>
						</button>
						<img id="imagePreview" class="d-none rounded" width="400" height="400">
						<input id="imageProduct" type="file" class="input-file-upload-image" accept=".jpg, .png, .gif">
					</div>
		
	<!-- 
		name
		buffer
		category
		price
		agePetProper
		imgProfile
	 -->				
					<div class="col-6 groups-input-register-product">
						<!-- name -->
						<div class="bg-secondary rounded d-flex justify-content-between py-3 px-3">
							<span class="h3 text-white col-4">
								제품명
							</span>
							<input id="nameProduct" type="text" class="form-control col-8">
						</div>
						<!-- category -->
						<div class="bg-secondary rounded d-flex justify-content-between py-3 px-3">
							<span class="h3 text-white col-4">
								카테고리
							</span>
							<div class="input-group p-0 col-8">
								<select id="categoryProduct" class="custom-select input-select-inside w-100 h-100" aria-label="Example select with button addon">
								    <option selected>--------</option>
								    <option value="kibble">사료</option>
								    <option value="treat">간식</option>
								</select>
							</div>
						</div>
						<!-- price -->
						<div class="bg-secondary rounded d-flex justify-content-between py-3 px-3">
							<span class="h3 text-white col-4">
								제품 가격
							</span>
							<input id="priceProduct" type="text" class="form-control col-8">
						</div>
						<!-- agePetProper -->
						<div class="bg-secondary rounded d-flex justify-content-between py-3 px-3">
							<span class="h3 text-white col-4">
								섭취 적정 연령
							</span>
							<div class="input-group p-0 col-8">
								<select class="custom-select input-select-inside w-100 h-100" id="agePetProperProduct" aria-label="Example select with button addon">
								    <option selected>--------</option>
								    <option value="under6months">생후 6개월 미만</option>
								    <option value="adult">성견</option>
								    <option value="senior">고령견</option>
								</select>
							</div>
						</div>
						<!-- quantity: productBuffer -->
						<div class="bg-secondary rounded d-flex justify-content-between py-3 px-3">
							<span class="h3 text-white col-4">
								제품 수량
							</span>
							<input id="quantityProduct" type="text" class="form-control col-8">
						</div>						
					</div>
				</div>
				<div class="d-flex justify-content-end">
					<button class="btn btn-danger btn-cancel-register mr-5">
						취소하기
					</button>
					<button class="btn btn-primary btn-submit mr-5">
						제출하기
					</button>
				</div>			
			</article>
	</section>

	<th:block layout:fragment="script">
    	<script>
    		$(document).ready(function(){
    			$(".btn-product-image-upload").on('click', function(){
    				$("#imageProduct").click();
    			})// btn-product-image-upload on click
    			
    			$("#imageProduct").on('change', function(e){
    				let file = e.target.files[0];
    				if(file == null){
    					$(this).val("");
    					return;
    				}
    				
					let reader = new FileReader();
					reader.onload = function(event){
						$("#imagePreview").removeClass('d-none');
						$("#imagePreview").attr('src', event.target.result);
					};
					reader.readAsDataURL(file);
    				
					$(".btn-product-image-upload").addClass('d-none');
    			})// imageProduct on Click
    			
    			$(".btn-submit").on('click', function(){
					let name = $("#nameProduct").val().trim();
					let category = $("#categoryProduct").val();
					let price = $("#priceProduct").val().trim();
					let agePetProper = $("#agePetProperProduct").val();
					let pathFile = $("#imageProduct").val();
					let quantity = $("#quantityProduct").val().trim();
    				
					if(!name){
						alert("제품명을 기재해 주세요.");
    					return;
					}
					if(name.length > 24){
						alert("제품명은 24자 이하여야 합니다.")
						return;
					}
					if(!category){
						alert("제품 카데고리를 선택해 주세요.");
						return;
					}
					if(!price){
						alert("제품 가격을 입력해 주세요.");
						return;
					}
					let regExp = /^[0-9]*$/;
					if(regExp.test(price) == false || price < 1){
						alert("price 가격은 0 이상의 정수로만 입력해주세요.")
						return;
					}
					if(!agePetProper){
						alert("해당 제품의 적정 섭취 연령을 선택해 주세요.");
						return;
					}

					let extension = pathFile.split(".").pop().toLowerCase();
					if(pathFile != "" && $.inArray(extension, ["jpg", "gif", "png"]) == -1){
    					alert("이미지 파일만 업로드 가능합니다.");
    					$("#pathFile").val("");
    					return;
    				}
					if(!quantity){
						alert("제품 수량을 기입해 주세요.");
						return;
					}
					if(regExp.test(quantity) == false || quantity < 1){
						alert("quantity 제품 수량은 0 이상의 정수로 기입해주세요.");
						return;
					}
					
					let formData = new FormData();
					
					formData.append("name", name);
					formData.append("category", category);
					formData.append("price", price);
					formData.append("agePetProper", agePetProper);
					formData.append("imageProduct", $("#imageProduct")[0].files[0]);
					formData.append("quantity", quantity);

					$.ajax({
						type: "POST"
    					, url: "/admin/product/register-product"
    					, data: formData
    					, enctype: 'multipart/form-data'
    					, processData: false
    					, contentType: false
    					
    					, success: function(data){
    						if(data.code == 200){
    							alert("🌞🌞해당 제품 추가 등록 성공하였습니다.");
    							location.reload();
    						} else {
    							alert(`${data.error_message}. 잘못 입력된 변수: ${data.wrong_parameter}`);
    						}
    					}
    					, error: function(error){
    						alert("상품 등록에 실패하였습니다. 관리자에게 문의하세요.")
    					}
					})//ajax
    			}) // btn-submit on click
    			
    		})//document ready
    	
    	</script>
	</th:block>
	
</html>