<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout4DatePicker}">
      
	<head>
		<title>주문 내역 조회</title>
	</head>
	<section layout:fragment="contents" class="contents w-100">
		<div class="d-flex justify-content-between w-100">
			<article class="group-article background-cards-list">							
 				<div class="">
 					<div class="title-delivery-status-view">
 						<!-- icon-carton; 종이상자-->
 						<div class="icon-carton pb-2 mr-2">
							<svg width="54" height="46" viewBox="0 0 54 46" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3 17.7368L17.8235 3H51M3 17.7368H36.1765M3 17.7368V43H36.1765M36.1765 17.7368L51 3M36.1765 17.7368V43M51 3V28.2632L36.1765 43" stroke="#FF8661" stroke-width="5"/>
							</svg>
 						</div>
 						<span>
 							주문 내역 조회
						</span>
 					</div>							
 					<div class="list-invoice-detail">
<!-- invoice 필터링 dropdown 관련 -->
 						<div class="groups-filters-invoice-detail">
<!-- Dropdown: 배송 상태 --> 						
							<div class="group-filters-invoice-detail my-auto">
								<label for="field-statusDelivery" class="label-for-select-invoice-detail m-0">
									배송 상태
								</label>
							  	<select id="field-statusDelivery" name="statusDelivery" class="btn-select-dropdown-specific custom-select">
								    <option data-field="statusDelivery">
								    	---선택---
							    	</option>
								    <option class="PaymentBilled" data-field="statusDelivery" data-value="PaymentBilled">
								    	결제 완료
							    	</option>
								    <option class="PackingFinished" data-field="statusDelivery" data-value="PackingFinished">
								    	배송준비 완료
							    	</option>
								    <option class="TerminalHub" data-field="statusDelivery" data-value="TerminalHub">
								    	터미널 이동
							    	</option>
								    <option class="EndPoint" data-field="statusDelivery" data-value="EndPoint">
								    	배송 상차
							    	</option>
								    <option class="DeliveryCurrent" data-field="statusDelivery" data-value="DeliveryCurrent">
								    	배송중
							    	</option>
								    <option class="DeliveryFinished" data-field="statusDelivery" data-value="DeliveryFinished">
								    	배송완료
							    	</option>
						  		</select>
							</div> 						
							<div>
<!-- 날짜 선택: 부터; dateSince -->
<!-- ★★★★★ 달력라이브러리로 구현해야 --> 						
								<div class="group-filters-invoice-detail">
							  		<input id="field-timeSince" name="dataSince" class="date-picker input-specific-invoice-detail">
									<label for="field-timeSince" class="label-for-select m-0">
										부터
									</label>
								</div> 						
<!-- 날짜 선택: 까지; dateUntil -->
<!-- ★★★★★ 달력라이브러리로 구현해야 --> 						
								<div class="group-filters-invoice-detail mt-2">
							  		<input id="field-timeUntil" name="dateUntil" class="date-picker input-specific-invoice-detail">
									<label for="field-timeUntil" class="label-for-select m-0">
										까지
									</label>
								</div> 						
							</div>
							<button type="button" id="btn-search-invoice-detail" class="btn-search-invoice-list">
								검색
							</button>
 						</div>
						<div class="group-list-invoices">
	 						<div class="title-list-items-delivery mt-3 mb-2">
	 							주문 목록
	 						</div>
	 						<!-- [[${listInvoices}]] -->
							<th:block th:each="invoice : ${listInvoices}">
								<a type="button" class="btn-info-detail-delivery"
								 th:text="|수령인: ${invoice.receiverName}, 수령인 연락처: ${invoice.receiverPhoneNumber}, 결제금액: ￦ ${invoice.payment}, 결제 시간: ${#temporals.format(invoice.createdAt, 'yyyy/MM/dd HH:mm')}|"
								 th:href="@{/invoice/invoice-detail/{invoiceId}(invoiceId=${invoice.id})}">
									수령인: 서리태, 수령인 연락처: 01012341234, 
								</a>
							</th:block>
						</div>				 					
 					</div>

 				</div>
			</article>
		</div>
	</section>

	<th:block layout:fragment="script">
    	<script th:inline="javascript">
    		$(document).ready(function(e){
    			
    			updateFilteringCurrent();
    			
    			$.datepicker.setDefaults({
    				dateFormat : "yy-mm-dd"
    				, monthNames: [ "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월" ]
                    , dayNamesMin: [ "일", "월", "화", "수", "목", "금", "토" ]
   					, showButtonPanel:true
    			})// $.datepicker.setDefaults
    			
    			$.datepicker._gotoToday = function(id){
    				$(id).datepicker('setDate', new Date()).datepicker('hide').blur();
    			}

				$("#field-timeSince").datepicker({
					maxDate: 0
					, onSelect:function(dateText){
						$("#field-timeUntil").datepicker('option', 'minDate', dateText);
					}
				}) // #field-timeSince datepicker
				
				$("#field-timeUntil").datepicker({
					maxDate: 0
					, onSelect:function(dateText){
						$("#field-timeSince").datepicker('option', 'maxDate', dateText);
					}
				}) //#field-timeUntil datepicker

    			function updateFilteringCurrent(){
    				let link = window.location.href;
    				let url = new URL(link.toString());
    				let urlParams = url.searchParams;
    				
    				let keys = urlParams.keys();
    				for(let key of keys){
    					let value = urlParams.get(key);
    					console.log(`key: ${key}, value: ${value}`);
    					
    					if(key == 'statusDelivery'){
	    					let optionSelected = $('option.' + value)[0];
	    					$('#field-statusDelivery').find(optionSelected).prop('selected', true);
    						continue;
    					}
    					if(key == 'timeSince'|| key == 'timeUntil'){
    						value = value.split("T")[0];
    						
    						$('#field-' + key).val(value);
    						console.log(value);
    					}
    				}
    			}// function updateFilteringCurrent()
    			
    			
				$("#btn-search-invoice-detail").on('click', function(){
					let userId = /*[[${session.userId}]]*/null;
					console.log(userId);
					if(userId == null){
						alert("로그인 후 사용 가능합니다.")
						return;
					}
					
					let statusDelivery = $("#field-statusDelivery").children("option:selected").data('value');
					console.log(statusDelivery);
					let timeSince = $("#field-timeSince").val();
					if(timeSince){
						timeSince = timeSince.concat("T00:00:00");
					}
					let timeUntil = $("#field-timeUntil").val();
					if(timeUntil){
						timeUntil = timeUntil.concat("T23:59:59");
					}
					console.log(`timeUntil${timeSince}, timeSince :${timeUntil}`);
					let url = "/invoice/invoice-list-view?"
					let count = 0;
					
					if(statusDelivery == "---선택---"){
						statusDelivery = null;
						console.log(statusDelivery);
					}
					if(!timeSince || !timeUntil){
						timeSince = null;
						timeUntil = null;
					}
					
					if(statusDelivery != null){
						statusDelivery = "statusDelivery=".concat(statusDelivery);
						console.log(statusDelivery);
						url = url.concat(statusDelivery);
						console.log(url);
						count ++;
					}
					
					if(timeSince != null && timeUntil != null){
						timeSince = "timeSince=" + timeSince;
						timeUntil = "timeUntil=" + timeUntil;
						if(count > 0){
							url = url + "&";
						}
						timeUntil = "&" + timeUntil;
						url = url.concat(timeSince).concat(timeUntil)
						console.log(url);
					}
					
					location.href=url;
				})//btn-search-invoice-detail on click
				
    		})//document ready
    	
    	</script>
	</th:block>
	
</html>