<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">
      
	<head>
		<title>결제 페이지</title>
	</head>
	<section layout:fragment="contents" class="contents w-100">
		
		<div class="d-flex justify-content-between w-100">
			<article class="group-article background-cards-list">							
 				<div class="">
 					<div class="title-payment-view">
 						<span>
 							결제 페이지
						</span>
 					</div>
 					<div class="list-items-in-invoice">
 					<!-- item 개별 정보들 -->
	 					<th:block th:each="item : ${listItems}">
	 						<div class="card-item-detail-invoice">
	 							<div class="image-card-item-detail-invoice">
	 								<img th:src="${item.imgProfile}" width="180" height="180">
	 							</div>
	 							<div class="groups-right-side-card-item-detail">
	 								<div class="title-card-item-detail-invoice">
	 									<span th:text="${item.productName}"></span>
	 									<span class="mr-3" th:text="|￦ ${item.price}|"></span>
	 								</div>
	 								<div class="group-btns-card-item-detail">
										<div class="group-btns-quantity-adjust">
<!-- 현재 물품 수량 추가 버튼 -->								
											<button class="btn-plus">
												<svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
													<g filter="url(#filter0_d_64_304)">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M28 4.5C28 2.29086 26.2091 0.5 24 0.5C21.7909 0.5 20 2.29086 20 4.5V20.5H4C1.79086 20.5 0 22.2909 0 24.5C0 26.7091 1.79086 28.5 4 28.5H20L20 44.5C20 46.7091 21.7909 48.5 24 48.5C26.2091 48.5 28 46.7091 28 44.5L28 28.5H44C46.2091 28.5 48 26.7091 48 24.5C48 22.2909 46.2091 20.5 44 20.5H28V4.5Z" fill="#51C3ED"/>
													</g>
													<defs>
														<filter id="filter0_d_64_304" x="0" y="0.5" width="50" height="50" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
															<feFlood flood-opacity="0" result="BackgroundImageFix"/>
															<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
															<feOffset dx="2" dy="2"/>
															<feComposite in2="hardAlpha" operator="out"/>
															<feColorMatrix type="matrix" values="0 0 0 0 0.984314 0 0 0 0 0.666667 0 0 0 0 0.388235 0 0 0 1 0"/>
															<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_64_304"/>
															<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_64_304" result="shape"/>
														</filter>
													</defs>
												</svg>
											</button>
<!-- 수량 기입 버튼
th:value="${item.quantity}"
th:data-cart-item-id
th:data-product-id
th:data-price
그리고
data-checked="true"
 -->
											<input class="quantity-item-current input-count-order-product-invoice-view" type="number" th:value="${item.quantity}"
											 th:data-cart-item-id="${item.cartItemId}" th:data-product-id="${item.productId}" th:data-price=${item.price} data-checked="true">
<!-- 현재 물품 수량 감소 버튼 -->									
											<button class="btn-minus">
												<svg width="50" height="11" viewBox="0 0 50 11" fill="none" xmlns="http://www.w3.org/2000/svg">
													<g filter="url(#filter0_d_64_310)">
														<path d="M4 4.5H24H44" stroke="#FF6868" stroke-width="8" stroke-linecap="round"/>
													</g>
													<defs>
														<filter id="filter0_d_64_310" x="0" y="0.5" width="50" height="10" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
															<feFlood flood-opacity="0" result="BackgroundImageFix"/>
															<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
															<feOffset dx="2" dy="2"/>
															<feComposite in2="hardAlpha" operator="out"/>
															<feColorMatrix type="matrix" values="0 0 0 0 0.407843 0 0 0 0 1 0 0 0 0 0.635294 0 0 0 1 0"/>
															<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_64_310"/>
															<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_64_310" result="shape"/>
														</filter>
													</defs>
												</svg>
											</button>
										</div> <!--__end__ .group-btns-quantity-adjust -->
										
										<div class="btns-pay-or-not d-flex justify-content-start ml-5">
<!-- 취소하기 버튼; 현재 항목 삭제
th:data-invoice-item-id
th:data-product-id
 -->									
											<button class="btn-cancel-product-current ml-3" th:data-cart-item-id="${item.cartItemId}" th:data-product-id="${item.productId}" >
												취소하기
											</button>
										</div><!--__end__ .btns-pay-or-not-->										
									</div><!--__end__ .group-btns-card-item-detail-->
								</div><!--__end__ .groups-right-side-card-item-detail-->	 							
<!-- 현재 항목 활성화/비활성화 toggle 버튼 -->									
								<button class="toggle-item-current" th:data-cart-item-id="${item.cartItemId}" th:data-checked="true">
									<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect x="1" y="1" width="38" height="38" rx="14" fill="white" stroke="black" stroke-width="2"/>
										<path class="icon-checked" d="M10 17.5L19 30.5L30 9" stroke="#FF0000" stroke-width="6"/>
									</svg>
								</button>
	 						</div><!--__end__ .card-item-detail-invoice-->
	 					</th:block>
	 					<div class="groups-inputs-payment-delivery-detail">
	 						<div class="groups-inputs-payment groups-dropdown-select-invoice">
								<div class="left-side-inputs-payment">
									<div class="group-dropdown-select-invoice">
										<label for="field-paymentType" class="label-for-select-invoice m-0">
											결제 유형
										</label>
									  	<select id="field-paymentType" name="paymentType" class="btn-select-dropdown-specific-invoice custom-select">
										    <option data-field="paymentType">
										    	---선택---
									    	</option>
										    <option class="CreditCard" data-field="paymentType" data-value="CreditCard">
										    	신용카드
									    	</option>
									    	<!-- ★★★★★ 일단 신용카드만 구현_12 08 2024 
										    <option class="AccountTranster" data-field="paymentType" data-value="AccountTranster">
										    	계좌이체
									    	</option>
									    	 -->
								  		</select>
									</div>
								</div><!--__end__ .left-side-inputs-payment -->
								<div class="right-side-inputs-payment">
									<div class="group-dropdown-select-invoice">
										<label for="field-company" class="label-for-select-invoice m-0">
											카드사
										</label>
									  	<select id="field-company" name="company" class="btn-select-dropdown-specific-invoice custom-select">
										    <option data-field="company">
										    	---선택---
									    	</option>
										    <option class="SamJungCard" data-field="company" data-value="SamJungCard">
										    	삼정카드
									    	</option>
										    <option class="HyunTaeCard" data-field="company" data-value="HyunTaeCard">
										    	현태카드
									    	</option>
								  		</select>
									</div><!--__end__ 카드사 dropdown -->
									<div class="group-dropdown-select-invoice mt-3">
										<label for="field-monthlyInstallment" class="label-for-select-invoice m-0">
											할부개월
										</label>
									  	<select id="field-monthlyInstallment" name="monthlyInstallment" class="btn-select-dropdown-specific-invoice custom-select">
										    <option data-field="monthlyInstallment">
										    	---선택---
									    	</option>
										    <option class="instance" data-field="monthlyInstallment" data-value="instance">
										    	일시불
									    	</option>
										    <option class="2M" data-field="monthlyInstallment" data-value="2M">
										    	2개월
									    	</option>
										    <option class="3M" data-field="monthlyInstallment" data-value="3M">
										    	3개월
									    	</option>
								  		</select>
									</div><!--__end__ 할부개월 dropdown -->
								</div><!--__end__ .right-side-inputs-payment  -->
	 						</div><!--__end__ .groups-inputs-->
<!-- 배송정보 기입 관련 -->	 						
	 						<div class="groups-inputs-delivery">
<!-- 결제자 -->	 				<div class="group-buyer">
									<div class="group-input-delivery-invoice">
		 								<label for="buyer-name" class="label-grey-input-delivery-invoice">
		 									결제자
		 								</label>
		 								<input id="buyer-name" class="input-delivery-invoice">
	 								</div> <!-- __end__ 결제자 -->
		 							<div class="group-input-delivery-invoice">
		 								<label for="buyer-phone-number" class="label-grey-input-delivery-invoice">
		 									결제자 연락처
		 								</label>
		 								<input id="buyer-phone-number" class="input-delivery-invoice" placeholder="-없이 숫자로 작성해주세요.">
		 							</div> <!-- __end__ 결제자 연락처-->
								</div> <!--__end__ group-payer  -->
								<div class="group-receiver mt-4">
									<div class="group-input-delivery-invoice">
		 								<label for="receiver-name" class="label-yellow-input-delivery-invoice">
		 									수령인
		 								</label>
		 								<input id="receiver-name" class="input-delivery-invoice">
	 								</div> <!-- __end__ 수령인 -->
									<div class="group-input-delivery-invoice">
		 								<label for="receiver-phone-number" class="label-yellow-input-delivery-invoice">
		 									수령인 연락처
		 								</label>
		 								<input id="receiver-phone-number" class="input-delivery-invoice">
	 								</div> <!-- __end__ 수령인 연락처 -->
									<div class="group-input-delivery-invoice">
		 								<label for="address" class="label-yellow-input-delivery-invoice">
		 									배송 주소
		 								</label>
		 								<input id="address" class="input-delivery-invoice">
	 								</div> <!-- __end__ 배송 주소 -->
								</div>
								

	 							
	 							
	 						</div><!--__end__ .groups-inputs-delivery"  -->
	 						
	 					</div><!--__end__ .groups-inputs-payment-delivery-detail-->
 					</div><!--__end__ .list-items-in-invoice -->
 					<!-- 제품상세 내역 -->	
					<div class="groups-buttom-invoice-total">
						<div class="group-cost-total-current">
							<div class="label-cost-total-current">
								전체
							</div>
							<div class="text-cost-total-current">
								<span id="cost-total-current">0</span>
								<span class="ml-2">원</span>
							</div>
						</div>
<!-- 선택항목 결제하기; 해당 item들이 모두 선택되어 있으면 text를 '전체 항목 결제하기'로 바꿔야 -->						
						<button id="btn-payment" class="btn-payment-current-bottom">
							전체항목 결제하기
						</button>
<!-- 결제 취소 버튼; 전체 invoice 내 아이템 삭제 -->						
						<button id="btn-cancel-invoice-total" class="btn-cancel-invoice-total-bottom">
							결제 취소하기
						</button>
					</div>
 				</div>
			</article>
<!-- 우측 nav 메뉴; groups-nav-aside -->			
			<aside class="groups-nav-aside">
<!-- 간식 버튼 -->			
				<button id="btn-treat-menu-aside" class="btn-skyblue-menu-aside mt-5">
					<div class="icon-footprint">
						<svg width="56" height="51" viewBox="0 0 56 51" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.1519 7.30689C8.12459 8.96585 7.62117 25.5555 20.71 25.5555C22.8915 25.5555 26.751 23.6754 24.7373 16.1547C22.2202 6.7539 16.1793 5.64792 12.1519 7.30689Z" fill="white"/>
							<path d="M34.2103 1.51109C29.8309 1.45837 22.2589 15.9046 34.1801 20.8325C36.167 21.6538 40.4884 21.4482 41.8791 14.0552C43.6176 4.8139 38.5898 1.5638 34.2103 1.51109Z" fill="white"/>
							<path d="M2.02395 28.3825C-0.0529071 31.1223 6.80433 41.0187 15.8964 35.2585C17.4117 34.2985 19.2759 31.5035 14.6099 28.0038C8.77754 23.6291 4.10081 25.6426 2.02395 28.3825Z" fill="white"/>
							<path d="M53.1236 11.9822C51.4312 9.12317 41.7988 10.7021 44.1983 20.6313C44.5982 22.2862 46.387 24.9917 50.3427 22.5753C55.2873 19.5547 54.8159 14.8413 53.1236 11.9822Z" fill="white"/>
							<path d="M39.2466 46.4086C29.5487 47.8434 19.409 45.712 18.1305 39.0789C16.0389 31.4115 28.0012 26.598 33.7038 26.0902C39.4063 25.5824 51.0209 25.3334 52.0903 31.1998C53.1596 37.0662 48.9444 44.9739 39.2466 46.4086Z" fill="white"/>
						</svg>
					</div>
					간식
				</button>
<!-- 사료 버튼 -->				
				<button id="btn-kibble-menu-aside" class="btn-purple-menu-aside mt-5">
					<div class="icon-footprint">
						<svg width="56" height="51" viewBox="0 0 56 51" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.1519 7.30689C8.12459 8.96585 7.62117 25.5555 20.71 25.5555C22.8915 25.5555 26.751 23.6754 24.7373 16.1547C22.2202 6.7539 16.1793 5.64792 12.1519 7.30689Z" fill="white"/>
							<path d="M34.2103 1.51109C29.8309 1.45837 22.2589 15.9046 34.1801 20.8325C36.167 21.6538 40.4884 21.4482 41.8791 14.0552C43.6176 4.8139 38.5898 1.5638 34.2103 1.51109Z" fill="white"/>
							<path d="M2.02395 28.3825C-0.0529071 31.1223 6.80433 41.0187 15.8964 35.2585C17.4117 34.2985 19.2759 31.5035 14.6099 28.0038C8.77754 23.6291 4.10081 25.6426 2.02395 28.3825Z" fill="white"/>
							<path d="M53.1236 11.9822C51.4312 9.12317 41.7988 10.7021 44.1983 20.6313C44.5982 22.2862 46.387 24.9917 50.3427 22.5753C55.2873 19.5547 54.8159 14.8413 53.1236 11.9822Z" fill="white"/>
							<path d="M39.2466 46.4086C29.5487 47.8434 19.409 45.712 18.1305 39.0789C16.0389 31.4115 28.0012 26.598 33.7038 26.0902C39.4063 25.5824 51.0209 25.3334 52.0903 31.1998C53.1596 37.0662 48.9444 44.9739 39.2466 46.4086Z" fill="white"/>
						</svg>
					</div>
					사료
				</button>
<!-- 커뮤니티 버튼 -->				
				<button id="btn-community-menu-aside" class="btn-magenta-menu-aside margin-top-100px">
					<div class="icon-footprint">
						<svg width="56" height="51" viewBox="0 0 56 51" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12.1519 7.30689C8.12459 8.96585 7.62117 25.5555 20.71 25.5555C22.8915 25.5555 26.751 23.6754 24.7373 16.1547C22.2202 6.7539 16.1793 5.64792 12.1519 7.30689Z" fill="white"/>
							<path d="M34.2103 1.51109C29.8309 1.45837 22.2589 15.9046 34.1801 20.8325C36.167 21.6538 40.4884 21.4482 41.8791 14.0552C43.6176 4.8139 38.5898 1.5638 34.2103 1.51109Z" fill="white"/>
							<path d="M2.02395 28.3825C-0.0529071 31.1223 6.80433 41.0187 15.8964 35.2585C17.4117 34.2985 19.2759 31.5035 14.6099 28.0038C8.77754 23.6291 4.10081 25.6426 2.02395 28.3825Z" fill="white"/>
							<path d="M53.1236 11.9822C51.4312 9.12317 41.7988 10.7021 44.1983 20.6313C44.5982 22.2862 46.387 24.9917 50.3427 22.5753C55.2873 19.5547 54.8159 14.8413 53.1236 11.9822Z" fill="white"/>
							<path d="M39.2466 46.4086C29.5487 47.8434 19.409 45.712 18.1305 39.0789C16.0389 31.4115 28.0012 26.598 33.7038 26.0902C39.4063 25.5824 51.0209 25.3334 52.0903 31.1998C53.1596 37.0662 48.9444 44.9739 39.2466 46.4086Z" fill="white"/>
						</svg>
					</div>
					커뮤니티
				</button>

			</aside>
		</div>
	</section>

	<th:block layout:fragment="script">
    	<script>
    		$(document).ready(function(e){
/* __end__ShoppingCart와 동일 */    			
    			updateCostCurrentInvoiceView();
    			
/*우측 nav 메뉴 버튼들 관련*/
    			$("#btn-treat-menu-aside").on('click', function(){
    				location.href= "/product/product-list-view?category=treat"
    			})
    			$("#btn-kibble-menu-aside").on('click', function(){
    				location.href= "/product/product-list-view?category=kibble"
    			})
    			
/* 현재 장바구니 합계 금액 갱신하는 메소드: shoppingCart와 달리, 비활성화 된 input은 금액에서 제외 */    			
    			function updateCostCurrentInvoiceView (){
    				let listItems = $("input.quantity-item-current");
    				//console.log(listItems);
    				let sum = 0;
    				let sumItemChecked = 0;
    				for(let item of listItems){
    					let checked = item.getAttribute('data-checked') == "true";
    					//console.log(checked);
    					if(checked == false){
    						let cartItemId = item.getAttribute('data-cart-item-id');
    						console.log(`current inputQuantity has checked FALSE. cartItemId: ${cartItemId}`);
    						continue;
    					}
    					
	    				let count = item.value;
	    				let price = item.getAttribute('data-price');
	    				//console.log(`"[updateCostCurrent())] count :${count}, price: ${price}"`);
	    				count = Number(count);
	    				price = Number(price);
    					sum += count * price;
    					//console.log("sum +=" + count*price);
    					
    					sumItemChecked ++;
    				}
    				$("#cost-total-current").text(sum);
    				console.log(`"[updateCostCurrentInvoiceView())] current cost total: ${sum}"`)
    				
    				//#btn-payment: '전체 항목 결제하기' 버튼의 text를 전체 선택 여부에 따라 변경 
    				$("#btn-payment").text(sumItemChecked == listItems.length ? "전체항목 결제하기" : "선택항목 결제하기");
    			}    			
    			
/* 형제 태그에서 수량 관련 Input 찾아서, 수량 변화 기입하는 메소드 */    			
    			function updateQuantity(e , num){
					//형제 태그 중 숫자 인풋 찾기
					
					let inputCount;
					
					if(e.localName == "input"){
						//함수 요청한 이벤트 태그가 input인 경우
						inputCount = e;
					} else{
						//함수 요청한 이벤트 태그의 형제가 input인 경우
						inputCount = e.siblings("input.quantity-item-current")[0];
					}
					//console.log(inputCount);
					let count = inputCount.value;
					let number = Number(count);
					
					if(e.localName == "input"){
						console.log("number = num");
						number = num;
					} else{
						console.log("number += num");
						number += num;
					}
					//console.log("number: " + number);
					
					//0보다 작으면 0으로 변환
					if(number < 0){
						number = 0;
					}
					count = String(number);
					inputCount.setAttribute('value', count)
					//console.log(`count updated : ${inputCount.value}`);
					
					let productId = inputCount.getAttribute('data-product-id');
					let cartItemId = inputCount.getAttribute('data-cart-item-id');
					let params = {"productId": productId
								,"quantity": inputCount.value
								, "cartItemId": cartItemId};
					
					//console.log(`productId : ${productId}, quantity: ${inputCount.value}, cartItemId: ${cartItemId}`);
					
					if(cartItemId == -1){
						console.log("[payment updateQuantity()] current payment page can't be updated to private cart" +
								", because it's derived clicking button-buying-specfic-product form product-detail page.")
						return;
					}
					
					let url = "/shopping-cart/update-quantity";
					
					$.post(url, params)
					.done(function(data){
						if(data.code == 200){
							let countAdded = data.quantity;
							inputCount.setAttribute('value', countAdded);
							//console.log("count updated After AJAX :" + countAdded);
							
							//수량 0 되었을 때 해당 항목 삭제
							if(countAdded == 0){
								alert("해당 항목이 삭제되었습니다.")
								location.reload();
							}
						} else if(data.code == 403){
							alert(data.error_message);
							location.href= "/user/sign-in-view";
						} else {
							alert(data.error_message);
						}
					})//ajax
    			}
    			
/* 해당 물품 수량 추가 버튼: .btn-plus */
				$(".btn-plus").on('click',function(){
					updateQuantity($(this), 1);
					
					//하단 총합 갱신
					updateCostCurrentInvoiceView();
				}) // btn plus quantity current on click

/* 해당 물품 수량 감소 버튼: .btn-minus */
				$(".btn-minus").on('click',function(){
					updateQuantity($(this), -1);
					
					//하단 총합 갱신
					updateCostCurrentInvoiceView();
				})// btn minus quantity current on click
				
/* 해당 물품 수량 input: input.quantity-item-current */				
				$("input.quantity-item-current").on('keyup', function(){
					//console.log($(this));
					let cartItemId = $(this).data('cart-item-id');
					let count = $(this).val().trim();
					let number = Number(count);
					//console.log(`"input number: ${cartItemId}, count: ${number}"`);
					if(number < 0){
						number = 0;
					}
					updateQuantity($(this)[0], number);
					//하단 총합 갱신
					updateCostCurrentInvoiceView();
				})//input.quantity-item-current on keyup
				
/* 해당 물품 취소 버튼: .btn-cancel-product-current*/					
				$(".btn-cancel-product-current").on('click', function(){
					let productId = $(this).data('product-id');
					let cartItemId = $(this).data('cart-item-id');
					let params = {"productId": productId
								, "cartItemId": cartItemId};
					
					console.log(`productId : ${productId}, cartItemId: ${cartItemId}`);
					let url = "/shopping-cart/delete-product";
					
					$.post(url, params)
					.done(function(data){
						if(data.code == 200){
							let count = data.quantity;
							console.log("count After AJAX Delete:" + count);
							
							alert("해당 항목이 삭제되었습니다.")
							location.href="/shopping-cart/shopping-cart-view";
						} else if(data.code == 403){
							alert(data.error_message);
							location.href= "/user/sign-in-view";
						} else {
							alert(data.error_message);
						}
					})//ajax
				})//btn-cancel-product-current on click
/* __end__ShoppingCart와 상당 부분 동일; input.quantity-item-current 관련된 활성화 여부 제외 */				
				
				$(".toggle-item-current").on('click', function(){
					let checked = $(this).data("checked") == "true" ? true : false;
					$(this).data("checked", checked == true ? "false":"true");
					
					//find descendant "path" having class "icon-chcked; 
					$(this).find("path.icon-checked").toggleClass("d-none", !checked);
					
					//체크 여부에 따라 바탕화면 하늘색 또는 회색으로 toggle
					let color = checked ? "#51C3ED":"#BDBDBD";
					$(this).parent()[0].style.setProperty("background-color", color);
					
					//input.quantity-item-current에 'data-checked'라는 표시로 업데이트;
					let inputQuantity = $(this).siblings("div.groups-right-side-card-item-detail").find("input.quantity-item-current")[0];
					inputQuantity.setAttribute("data-checked", checked ? "true": "false");
					
					updateCostCurrentInvoiceView ();
				})
				
				$("#btn-payment").on('click', function(){
					//전체 결제 금액이 0일 때
					if($("#cost-total-current").text() < 1){
						alert("상품 수량을 확인해 주십시오.");
						return;
					}
					
					if(confirm("해당 상품과 수량과 가격을 확인하셨습니까?"
							+ "\n확인 버튼을 누르시면 결제창으로 이동합니다."
							+ "\n결제를 진행하시겠습니까?") == false){
						console.log("[#btn-payment onclick]client canceled to move to next payment phase.");
						return;
					};
					console.log("[#btn-payment onclick]client agree to move to next payment phase.");
					
					let listMaps = [];
					
					let listItems = $("input.quantity-item-current");
    				//console.log(listItems);
    				let sum = 0;

					//리스트 input.quantity-item-current 반복문
    				for(let item of listItems){
    					let checked = item.getAttribute('data-checked') == "true";
    					console.log(checked);
    					if(checked == false){
    						let cartItemId = item.getAttribute('data-cart-item-id');
    						console.log(`current inputQuantity has checked FALSE. cartItemId: ${cartItemId}`);
    						continue;
    					}
    					
    					let count = item.value;
	    				let price = item.getAttribute('data-price');
	    				count = Number(count);
	    				price = Number(price);
    					sum += count * price;

    					let mapItem = {}
    					mapItem["productId"] = item.getAttribute('data-product-id');
    					mapItem["cartItemId"] = item.getAttribute('data-cart-item-id');
    					mapItem["quantity"] = item.getAttribute('value');
    					mapItem["price"] = item.getAttribute('data-price');
    					mapItem["checked"] = item.getAttribute('data-checked');
    					console.log(mapItem);
    					
    					listMaps.push(mapItem);
    				}
					if(sum != $("#cost-total-current").text()){
						alert("금액이 일치하지 않습니다. 관리자에게 문의하세요");
						return;
					}
					
					//결제 유형: select
					let paymentType = $("#field-paymentType").val();
					if(!paymentType || paymentType == '---선택---'){
						alert("결제 타입을 선택하세요");
						return;
					}
					//카드사: select
					let company = $("#field-company").val();
					if(!company || company == '---선택---'){
						alert("결제사를 선택하세요");
						return;
					}
					//할부 개월: select
					let monthlyInstallment = $("#field-monthlyInstallment").val();
					if(!monthlyInstallment || monthlyInstallment == '---선택---'){
						alert("할부 개월을 선택하세요");
						return;
					}
					//결제자: input
					let buyerName = $("#buyer-name").val().trim();
					if(!buyerName || buyerName == '---선택---'){
						alert("구매자 성명을 기재하십시오.");
						return;
					}
					//결제자 연락처: input
					let buyerPhoneNumber = $("#buyer-phone-number").val().trim();
					if(!buyerPhoneNumber || buyerPhoneNumber == ''){
						alert("구매자의 연락처를 기재하십시오.");
						return;
					}
					//수령인: input
					let receiverName = $("#receiver-name").val().trim();
					if(!receiverName || receiverName == ''){
						alert("수령자 성명을 기재하십시오.");
						return;
					}
					//수령인 연락처: input
					let receiverPhoneNumber = $("#receiver-phone-number").val().trim();
					if(!receiverPhoneNumber || receiverPhoneNumber == ''){
						alert("수령자 연락처를 기재하십시오.");
						return;
					}
					//배송 주소: input
					let address = $("#address").val().trim();
					if(!address || address == ''){
						alert("배송 주소를 기재하십시오.");
						return;
					}

    				let params = {"listItemsOrdered": listMaps
    							, "payment": sum
    							, "paymentType": paymentType
    							, "company": company
    							, "monthlyInstallment": monthlyInstallment
    							, "buyerName": buyerName
    							, "buyerPhoneNumber": buyerPhoneNumber
    							, "receiverName": receiverName
    							, "receiverPhoneNumber": receiverPhoneNumber
    							, "address": address}
    				
    				
    				console.log(params);
    				//url = "/invoice/payment";
    				
					/* $.post(url,params)
					.done(function(data){
							if(data.code == 200){
								alert("결제 성공하였습니다.")
								location.href="/product/product-list-view";
							} else if(data.code == 403){
								alert(data.error_message);
								location.href="/user/sign-in-view";
							} else {
								alert(data.error_message);
							}
					})  */
					$.ajax({
    					type: "POST"
    					, url: "/invoice/payment"
    					, data: params
    					, contentType: "json"
    					
    					, success: function(data){
    						if(data.code == 200){
								alert("결제 성공하였습니다.")
								location.href="/product/product-list-view";
							} else if(data.code == 403){
								alert(data.error_message);
								location.href="/user/sign-in-view";
							} else {
								alert(data.error_message);
							}
    					}
    					, error: function(error){
    						alert("결제 시도가 실패하였습니다. 관리자에게 문의하세요.")
    					}
    					
    				})//ajax POST 

				}) //btn payment on click;
				
    		}) //document ready
    	</script>
	</th:block>
</html>